[user]
	name = Will Brookes
	email = wbrookes66@gmail.com
[core]
	editor = vim
	autocrlf = false
	whitespace = cr-at-eol
[push]
	default = simple
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	sw = switch
	last = log -1 HEAD
	unstage = reset HEAD --
	logd = log --decorate --graph --format=oneline --all
    dt = difftool -t vimdiff -y
    mt = mergetool -t vimdiff
    fco= !git branch -a | fzf | sed \"s/remotes\\/origin\\///\" | xargs git checkout
    fre = ! git status --porcelain | grep '^ M' | awk '{print $2}' | fzf | xargs git restore --

[color "branch"]
    upstream = 215

[color "interactive"]
    prompt = 69
[difftool]
	prompt = false
[fetch]
    prune = true
[pull]
    rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "git@gitlab.pi.planetinnovation.com.au:"]
    insteadof = https://gitlab.pi.planetinnovation.com.au
