!URxvt.scrollBar: 	false
!URxvt.font:         xft:dejavu sans mono:size=11, xft:FontAwesome
!URxvt.boldFont:     xft:dejavu sans mono:bold:size=11
! below is with the dpi change present
URxvt.scrollBar: 	false
URxvt.font:         xft:JetBrains Mono Nerd Font Mono:size=12
URxvt.boldFont:     xft:JetBrains Mono Nerd Font Mono:bold:size=12
!URxvt.font:         xft:JetBrains Mono Nerd Font Mono:size=9
!URxvt.boldFont:     xft:JetBrains Mono Nerd Font Mono:bold:size=9

URxvt.letterSpace: -1

URxvt.antialias:    true
URxvt.hinting:      true
URxvt.hintstyle:    hintmedium
URxvt.rgba:         rgb
URxvt.autohint:     false
URxvt.lcdfilter:    lcddefault

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintmedium
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! from gnome. Also what I got from https://www.calculatorsoup.com/calculators/technology/ppi-calculator.php
! was 96 but I just changed
! Xft.dpi:    94
!
! this is for 4k screen
Xft.dpi:    163

! calculated. Not sure about this
!Xft.dpi: 104

! this just looks crisp but is too zoomed in
!Xft.dpi: 120

